<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.phone_lab.jouler.blackwhitelist"  >
    <uses-permission android:name="org.phone_lab.jouler.joulerbase" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".services.BlackWhiteListService" />
        <receiver android:name=".receivers.StartStopReceiver">
            <intent-filter android:priority="1">
                <action android:name="org.phone_lab.jouler.blackwhitelist.START" />
                <action android:name="org.phone_lab.jouler.blackwhitelist.STOP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
